<h1>Add a movie to <%= @list.name %></h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.order(:title), prompt: "Choose a movie" %>
  <%= f.input :comment, placeholder: "Why this movie?" %>
  <%= f.button :submit, "Save", class: "btn btn-primary" %>
<% end %>

<div class="mt-3">
  <%= link_to "Back", list_path(@list) %>
</div>
